# NHIS cookbook

In [5]:
pip install tabula-py

SyntaxError: invalid syntax (90053272.py, line 1)

In [8]:
pip install jpype1

Collecting jpype1
  Obtaining dependency information for jpype1 from https://files.pythonhosted.org/packages/1f/19/144f3a767b563ba5c6d4aa534ea1f3fad9a5067c3917df4458a6e1afe0ef/JPype1-1.5.0-cp311-cp311-win_amd64.whl.metadata
  Downloading JPype1-1.5.0-cp311-cp311-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: packaging in c:\users\hiron\anaconda3\lib\site-packages (from jpype1) (23.1)
Downloading JPype1-1.5.0-cp311-cp311-win_amd64.whl (351 kB)
   ---------------------------------------- 0.0/351.5 kB ? eta -:--:--
   - -------------------------------------- 10.2/351.5 kB ? eta -:--:--
   - -------------------------------------- 10.2/351.5 kB ? eta -:--:--
   ------ -------------------------------- 61.4/351.5 kB 469.7 kB/s eta 0:00:01
   ----------------------- ---------------- 204.8/351.5 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  348.2/351.5 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 351.5/351.5 kB 1.7 MB/s eta 0:00:00
Installing collected packages: jpype1
Successfully installed jpype1-1.5.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import tabula
import pandas as pd

In [55]:
pdf_path = 'C:/Users/hiron/Documents/DS/MH/adult-summary.pdf'

# Read tables from PDF into a list of DataFrames
# Note that we are not importing the header names because some pages don't have headers, and so pandas will use the data row as header row
tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True, pandas_options={'header':'None'})

In [56]:
all_tables = pd.DataFrame(columns=range(0,7))
                          
                        
# Iterate through the extracted tables and combine them
for i, table in enumerate(tables):
    all_tables = pd.concat([all_tables, table], ignore_index=True, axis=0)


# Rename column names
all_tables = all_tables.rename(columns={
    0: "Variable #",
    1: "Question #",
    2: "Variable Name",
    3: "Source Variables",
    4: "Description",
    5: "Type",
    6: "Location",
    7: "Length"})

# Drop duplicates (the duplicative header name rows) and the first row
all_tables.drop_duplicates(inplace=True)
all_tables.drop(axis=0, index=0,inplace=True)
all_tables

,Variable #,Question #,Variable Name,Source Variables,Description,Type,Location,Length
1,1,NaN,RECTYPE,NaN,Record type,Num,1 - 2,2
2,2,NaN,SRVY_YR,NaN,Year of the National Health Interview Survey,Num,3 - 6,4
3,3,NaN,HHX,NaN,Randomly assigned household number unique to a...,Char,7 - 13,7
4,4,NaN,WTFA_A,NaN,Weight - Final Annual,Num,14 - 23,10
6,1,Recode,URBRRL,NaN,2013 NCHS Urban-Rural Classification Scheme fo...,Num,24,1
...,...,...,...,...,...,...,...,...
699,2,HOU.0020.00.1,HOUTENURE_A,NaN,Residence owned/rented,Num,814,1
700,3,HOU.0030.00.1,HOUGVASST_A,NaN,Paying lower rent,Num,815,1
702,1,TBH.0010.00.4,TRANSPOR_A,NaN,Delay care in the past 12 months because no re...,Num,816,1
704,1,CIV.0010.00.4,CEMMETNG_A,NaN,Attend public meeting,Num,817,1
705,2,CIV.0020.00.4,CEVOTELC_A,NaN,Vote in last local elections,Num,818,1

In [57]:
all_tables.to_csv("adult-summary.csv")